Que 1 - Write a program to subtract two complex numbers in Python

In [1]:
3.14j - 1.02j

2.12j

Que 2 - Write a program to find the fourth root of a number

In [4]:
8 ** (1/4)

1.681792830507429

Que 3 - Write a program to swap two numbers in Python with the help of a temporary variable.

In [13]:
a = 5
b = 9
print(a, b)

c = a
a = b
b = c
print(a,b)

5 9
9 5

Que 4 - Write a program to swap two numbers in Python without using a temporary variable.

In [21]:
a = 5.0
b = 25.0
print(a, b)

a = a * b
b = a / b
a = a / b
print(a, b)

5.0 25.0
25.0 5.0

In [22]:
a = 5.0
b = 25.0
print(a, b)

a = a + b
b = a - b
a = a - b
print(a, b)

5.0 25.0
25.0 5.0

Que 5 - Write a program to convert fahrenheit to kelvin and celsius both.

In [9]:
# fahrenheit to Kelvin
F = 100 
K = (100 - 32) * 5/9 + 273.15
print(K)
# Formula (100°F − 32) × 5/9 + 273.15 = 310.928K

310.92777777777775

In [12]:
# fahrenheit to Celsius
F = 100 
C = (100 - 32) * 5/9
print(C)
# Formula (100°F − 32) × 5/9 = 37.778°C

37.77777777777778

Que 6 - Write a program to demonstrate all the available data types in Python. Hint: Use type() function.

In [24]:
a = 52
print(type(a))

<class 'int'>

In [27]:
Name = "Ashish"
print(type(Name))

<class 'str'>

In [5]:
a = 20.5
print(type(a))

<class 'float'>

In [6]:
a = 1j
print (type(a))

<class 'complex'>

In [7]:
fruits = ("mango", "banana", "pineapple", "apple")   #name in ( ) is tuple
print(type(fruits))

<class 'tuple'>

In [4]:
fruits = ["mango", "banana", "pineapple", "apple"]   #name in [ ] is list
print(type(fruits))

<class 'list'>

Que 7 Create a Markdown cell in jupyter and list the steps discussed in the session by Dr. Darshan
Ingle sir to create Github profile and upload Githubs Assignment link.

# Github login process

goto browser type https://github.com

1. Signup profile 

2. Create a public repository and Name __LetsUpgrade AI-ML__

3. Upload daily assignments Day 3, Day 4 folder in the repository in day wise manner. 

4. Share / Copy the URL of the Folder of that day and paste in the Assignment Form.